.add-task {
	min-height: 40px;
	border: 1px;
	font-family: arial;
	width: 100%;
	border-top: 1px #000000 solid;

}

.add-task input, .add-task input:focus {
	min-height: 40px;
	font-size: 16px;
	border: none;
	box-shadow: none;
	padding-left: 10px;
	width: 100%;
}

